<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /wechat/
RewriteRule  ^index\.php$ - [L]
RewriteRule ^([a-z]+)/([a-z]+)/?$  index.php?c=$1&a=$2 [NC]

RewriteRule ^image\.php$ - [L]
RewriteRule ^image/([0-9]+)/([0-9a-f]+)$ image.php?userid=$1&imageid=$2&width=0&height=0  [NC]
RewriteRule ^image/([0-9]+)/([0-9a-f]+)-([0-9]+)-([0-9]+)$ image.php?userid=$1&imageid=$2&width=$3&height=$4 [NC]
</IfModule>
